.container {
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categoriesTitle {
  font-size: 14px;
  padding-right: 30px;
}

.search {
  height: 20px;
  font-size: 12px;
  padding: 4px 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
}

.products {
  max-width: 300px;
}
